
<!DOCTYPE html>
<html>
<head>
	<title>cart</title>
		<link rel="stylesheet" type="text/css" href="cart.css">
		 <div class="topnav">
  <a href="home.html">Home</a>
  <a href="about.html">About</a>
  <a href="store.html">Store</a>
  <a class="active" href="#cart.html">cart</a>
  <a href="login in.html">Login in</a>
  

</div>
</head>
<body>

<h1 style="font-size: 55px;position: absolute;left: 41.5%;top:28%">Cart Function</h1>
<h1 style="font-size: 70px;position: absolute;left: 40%;bottom:50%">Coming Soon</h1>


</body>
</html>