
<!DOCTYPE html>
<html>
<head>
	<title>store</title>
		<link rel="stylesheet" type="text/css" href="home.css">
	 <div class="topnav">
  <a href="home.html">Home</a>
  <a href="about.html">About</a>
  <a class="active" href="store.html">Store</a>
  <a href="cart.html">Cart</a>
  <a href="login in.html">Login in</a>
  
</div>
</head>
<body>

<div class="card">
  <img src="charm1.jpeg" alt="Disney Stitch Christmas Charm" style="width:1% , height:2%">
  <h1></h1>
  <p class="price">60$</p>
  <img scr="charm1.svg">
  <p><button>Add to Cart</button></p>
</div>
</body>
</html>