
<!DOCTYPE html>
<html>
<head>
	<title>modecore</title>
		<link rel="stylesheet" type="text/css" href="/templates/store.css">
	 <div class="topnav">
  <a href="home.html">Home</a>
  <a href="about.html">About</a>
  <a class="active" href="store.html">Store</a>
  <a href="cart.html">Cart</a>
  <a href="login in.html">Login in</a>
  
</div>
</head>
<body>


</div>
<div class="card">
  <img src="images.jpeg" alt="wall hanging flower pots" style="width:100%">
  <h1>wall hanging flower pots</h1>
  <p class="price">19.99nis</p>
  <p>available in all colors</p>
  <p><button>Add to Cart</button></p>
</div>
</div>
<div class="card">
  <img src="iphone.jpg" alt="wall hanging flower pots" style="width:100%">
  <h1>phone cases</h1>
  <p class="price">25nis</p>
  <p>available in two colors</p>
  <p><button>Add to Cart</button></p>
  </div>
<div class="card">
  <img src="iphone.jpg" alt="wall hanging flower pots" style="width:100%">
  <h1>unique notebooks</h1>
  <p class="price">25nis</p>
  <p>available in two colors</p>
  <p><button>Add to Cart</button></p>
</div>
</body>
</html>